@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Quicksand", serif;
}

body {
  background: #f7f7f7;
}
.color-sky-blue {
  color: #01acfd;
}
.color-sky {
  color: #05d4df;
}
.color-blue {
  color: #5d58ef;
}
.btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  width: 197px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.none {
  display: none;
}

header,
main,
.footer {
  max-width: 1200px;
  margin: 0 auto;
}

/* Navbar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
nav .logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo h2 {
  color: #111;
  font-size: 32px;
  line-height: 30px;
}
.menu {
  display: flex;
  gap: 32px;
}

.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.menu li a.active {
  font-weight: 700;
  color: #fea301;
}
.nav-btn {
  color: #fff;
  background: #fea301;
  font-weight: 600;
}
