@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Quicksand", serif;
}

body {
  background: #f7f7f7;
}
.color-sky-blue {
  color: #01acfd;
}
.color-sky {
  color: #05d4df;
}
.color-blue {
  color: #5d58ef;
}
.color-yellow {
  color: #fea301;
}
.btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  width: 197px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.none {
  display: none;
}

header,
main,
.footer {
  max-width: 1200px;
  margin: 0 auto;
}

/* Navbar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
nav .logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo h2 {
  color: #111;
  font-size: 32px;
  line-height: 30px;
}
.menu {
  display: flex;
  gap: 32px;
}

.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.menu li a.active {
  font-weight: 700;
  color: #fea301;
}
.nav-btn {
  color: #fff;
  background: #fea301;
  font-weight: 600;
}

/* Banner Section Styles */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 60px;
}
.banner-container {
  display: flex;
  gap: 24px;
  flex-direction: column;
  max-width: 575px;
}
.banner-container h2 {
  font-size: 56px;
  line-height: 60px;
}
.banner-container p {
  font-size: 20px;
}
.banner-btn {
  background: #111;
  color: #fff;
}

/* Curriculum Section Styles */
.curriculum {
  margin-bottom: 60px;
}

.curriculum-container h2 {
  font-size: 46px;
  line-height: 58px;
  text-align: center;
}
.curriculum-info {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 80px 0;
}

.curriculum-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding: 50px 40px;
  border-radius: 18px;
  box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.05) inset;
  max-width: 350px;
}

.kinder-curriculum {
  border: 1px solid #def5ff;
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}

.elementary-curriculum {
  border: 1px solid #fff4dc;
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}

.middle-curriculum {
  border: 1px solid #f2e8ff;
  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}

.curriculum-details h3 {
  font-size: 24px;
  line-height: 32px;
}
.curriculum-details p {
  color: #808080;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
}
.curriculum-details button {
  font-size: 15px;
  font-weight: 700;
  line-height: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

.curriculum-details button:hover {
  text-decoration: underline;
}

.arrow-btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.arrow-btn {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fea301;
  border: none;
  cursor: pointer;
}
